<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.roma.android.sihmi">

    <application
        android:name=".core.CoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.activity.LoadDataActivity"></activity>
        <activity android:name=".view.activity.DetailReportPelatihanActivity" />
        <activity android:name=".view.activity.DetailReportActivity" />
        <activity android:name=".view.activity.DataKaderActivity" />
        <activity android:name=".view.activity.LaporanGrafikActivity" />
        <activity android:name=".view.activity.ChatFileDetailActivity" />
        <activity
            android:name=".view.activity.SwitchAccountActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.ProfileChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.PengaturanFontActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.PermohonanAdminActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.DataLainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.AlumniActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.LK1Activity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.KataSandiActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.ProfileActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.KonstitusiFormActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.AgendaDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.FullImageActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.LeaderFormActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.HelpFormActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.ForgetPassActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.LaporanDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.KonstitusiActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.AboutFormActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.LeaderDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.activity.AlamatFormActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <activity
            android:name=".view.activity.ChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.ChatGroupActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.activity.DetailKonstitusiActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.AboutActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.AboutDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.AgendaFormActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.FileDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.FileFormActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.ContactActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".view.activity.LokasiActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCovEBOvaVF_VCXgYwtOOsuuKc-5IGOWV0" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorlogo" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d325822dbba8f57a6330e88d368cbbe2a5ee0d10" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>